.content {
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0, transparent 90%, transparent 90%, rgba(0, 0, 0, .8));
    margin-top: -3vw;
    height: 50vw;
    position: relative;
}

.search-container {
    margin-left: 7vw;
    margin-top: 1vw;
}

.find-movie {
    font-family: "Bahnschrift Light", "Bahnschrift Light", monospace;
    font-weight: lighter;
    color: #FFFFFF;
    padding-left: 7vw;
    justify-content: center;
    font-size: 4vw;
    padding-top: 10vw;
}

.search-field {
    width: 50vw;
    height: 4vw;
    font-size: 1.5vw;
    opacity: 0.9;
    background: #232323;
    text-align: left;
    border: 0;
    padding-left: 2vw;
    color: #ffffff;
}

.search-button {
    width: 15vw;
    height: 4vw;
    background: #f65261;
    color: #FFFFFF;
    font-size: 1.5vw;
    border-radius: 0.2vw;
    border: 0;
    margin-left: 1vw;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: inline;
}

.films {
    background: #232323;
    height: auto;
    padding-left: 3vw;
    padding-right: 3vw;

}

.no-films{
    background: #232323;
    height: 50vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.sorting-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top: 3vw;
}

.movie-genre {
    font-size: 1.2vw;
    color: #FFFFFF;
    background: transparent;
    border: 0;
    padding-left: 2.5vw;
    cursor: pointer;
}

.sort-by {
    color: #555555;
    font-size: 1.2vw;
    font-weight: bolder;
    margin-left: 32vw;

}

.movie-not-found {
    color: #555555;
    font-size: 3vw;
    padding-left: 40vw;
    padding-top: 20vw;

}

.drop-menu-date {
    color: #ffffff;
    font-size: 1.2vw;
    background-color: transparent;
    border: 0;
    margin-left: 2vw;
    cursor: pointer;
}

select option {
    margin: 40px;
    background: #232323;;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border: 0;
    text-align: center;
    font-size: 1.2vw;
}

.movie-counter {
    color: #ffffff;
    font-size: 1.4vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 6vw;
    padding-left: 2.4vw;
}

.digit-counter {
    font-weight: bold;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    width: 30%;
    color: #555555;
    display: flex;
    flex-direction: column;
    margin: 2vw 1vw 2vw 1vw;
}

.image-movie {
    height: 40vw;
}

.description-movie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vw;
    font-size: 1.3vw;
}

.movie-name {
    font-weight: bolder;

}

.movie-type {
    padding-top: 0.5vw;
    font-size: 1vw;
}

.movie-year {
    border: 0.1vw solid #555555;
    border-radius: 0.3vw;
    height: 1.7vw;
    width: 2.8vw;
}

.dots {
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 24vw;
    cursor: pointer;
    position: absolute;
    padding-top: 1.1vw;
}
