.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    position: absolute;
    padding-top: 3vw;
    z-index: 2;

}

.header-container__add-movie-button {
    color: #f65261;
    width: 15vw;
    height: 3vw;
    font-weight: bolder;
    background: #ffffff;
    opacity: 0.7;
    border: 0;
    font-size: 2vw;
    margin-left: 55vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-container__add-movie-button:hover{
    opacity: 0.9;
}

.header-container__loop{
    display: flex;
    width: 4vw;
    height: 4vw;
    margin-left: 70vw;
    margin-top: 3vw;
    cursor: pointer;
    background: transparent;
    border: 0;
}

