.dropdown-menu {
    position: absolute;
    cursor: pointer;
    top: 2vw;
    left: 72%;
}

.dropdown-menu__image {
    background-color: #424242;
    width: 2.5vw;
    height: 2.5vw;
    opacity: 0.9;
    border-radius: 50%;
}

.dropdown-menu__close-button-img {
    cursor: pointer;
    width: 3vw;
    height: 2.5vw;
    background-color: unset;
    border: 0;
    right: 0;
    position: absolute;
}

.dropdown-menu__button-img {
    cursor: pointer;
    width: 3vw;
    height: 2.5vw;
    background-color: unset;
    border: 0;
}

.dropdown-menu__menu {
    position: relative;
    right: 10vw;
}

.dropdown-menu__menu > li {
    cursor: pointer;
    background-color: #232323;
    display: flex;
}

.dropdown-menu__menu > li:hover {
    background-color: #F65261;
}

.dropdown-menu__menu > li > button {
    cursor: pointer;
    font-size: 1.4vw;
    width: 13vw;
    height: 4vw;
    color: #ffffff;
    background-color: unset;
    border: 0;
    margin-bottom: -1vw;
    text-align: left;
}

.dropdown-menu__menu > li > div {
    cursor: pointer;
    background-color: #232323;
    display: flex;
    height: 2.5vw;

}

.dropdown-menu__space-for-button {
    width: 13vw;
    height: 3.5vw;
    display: block;
}
