.search-container {
    margin-left: 7vw;
    margin-top: 1vw;
}

.search-container__search-field {
    width: 50vw;
    height: 4vw;
    font-size: 1.5vw;
    opacity: 0.9;
    background: #232323;
    text-align: left;
    border: 0;
    padding-left: 2vw;
    color: #ffffff;
}

.search-container__search-button {
    width: 15vw;
    height: 4vw;
    background: #f65261;
    color: #FFFFFF;
    font-size: 1.5vw;
    border-radius: 0.2vw;
    border: 0;
    margin-left: 1vw;
    cursor: pointer;
}

.content-container__find-movie {
    font-family: "Bahnschrift Light", "Bahnschrift Light", monospace;
    font-weight: lighter;
    color: #FFFFFF;
    justify-content: center;
    font-size: 4vw;
    padding-top: 10vw;
}

