.modal-window__p {
    font-size: 1.5vw;
    color: white;
    font-weight: lighter;
}

.movie__label {

}

.movie__label__input {
    background-color: #424242;
    border: 0;
    width: 25vw;
    height: 3vh;
    margin-left: 1.5vw;
    color: white;
    font-size: 1.4vw;
    font-weight: lighter;
}

.movie__label__name {
    color: #f65261;
    font-size: 1.1vw;
    font-weight: bolder;
    margin-left: 1.5vw;
}

.movie-label__select-genre {
    background-color: #424242;
    border: 0;
    width: 25vw;
    height: 3vh;
    margin-left: 1.5vw;
    color: white;
    font-size: 1.2vw;
    font-weight: lighter;
    cursor: pointer;
}

.delete-movie__p {
    color: white;
    font-size: 1.5vw;
}

.multiSelectContainer{
    margin-left: 2vw !important;
    background: #424242 !important;
    width: 25vw !important;
    position: relative!important;
}

.chip{
    background: transparent !important;
    font-size:1vw;
}

.optionListContainer{
    background: #232323 !important;
}

.multiSelectContainer li{
    color: #ffffff !important;
    position: relative !important;
    font-size: 1.3vw;
}

.multiSelectContainer li:hover{
    background-color: unset !important;
}

.highlightOption{
    background: none !important;
}

.checkbox{
    accent-color: #f65261 !important;
}

.multiSelectContainer ul{
    position:absolute !important;
    display: flex !important;
    margin: 0;
   height: auto !important;
    flex-direction: column;
    background-color: #232222;
    z-index: 3;
    padding: 0;
    width: 100%;
}

.searchWrapper{
    min-height: 3vw !important;
}

.multiSelectContainer input{
    font-size: 1.3vw !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.6);
}