.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
    backdrop-filter: blur(8px);
}

.modal {
    position: absolute;
    height: auto;
    width: auto;
    background-color: #232323;
    border-radius: 3px;

}

.modal__header {
    text-align: right;
}

.modal__header__closeBtn--close {
    padding: 10px 12px 0;
    font-size: 42px;
    line-height: 0.6;
    color: #757575;
    border: none;
    background: none;
    cursor: pointer;
}

.modal__content {
    padding: 0 32px 32px;
}

.movie__buttons {
    padding-top: 2vh;
    padding-left: 12vw;
    display: flex;
    flex-direction: row;
}

.modal-window__h1 {
    color: white;
    font-weight: normal;
    font-size: 3.5vw;
    padding-left: 1.5vw;
    text-align: left;
}
.modal__button-reset {
    width: 7vw;
    height: 3vw;
    font-size: 1.3vw;
    border-radius: 0.2vw;
    display: flex;
    background: transparent;
    color: #f65261;
    border-color: #f65261;
    z-index: 1;
    cursor: pointer !important;
    align-items: center;
}

.modal__button-submit {
    width: 7vw;
    height: 3vw;
    font-size: 1.3vw;
    border-radius: 0.2vw;
    margin-left: 1vw;
    display: flex;
    background: #f65261;
    color: #FFFFFF;
    border: 0;
    z-index: 1;
    cursor: pointer !important;
    align-items: center;
    text-align: center;
}

